.account {
  @media (min-width: $brk-tablet) {
    float: left;
  }

  &__sideNav {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    @media (min-width: $brk-tablet) {
      flex: 0 0 22%;
      padding: 2rem;
    }

    &__unActive {
      text-decoration: none;
      flex-basis: 50px;
      cursor: pointer;
      user-select: none;
      color: white;
    }
    &__active {
      color: $orange;
    }
  }
}
