.account {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__sideNav {
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 4rem;

    a {
      flex-basis: 50px;
      cursor: pointer;
      user-select: none;
      color: white;
    }
  }
  &__profile {
    flex: 0 0 450px;
    text-align: left;
    &__img-name-wrapper {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      &__img {
        display: flex;
        flex-direction: column;
        img {
          border-radius: 50%;
          height: 100px;
        }
        &-link {
          margin: 1rem 1rem 2rem;
          text-align: center;
          cursor: pointer;
          user-select: none;
        }
      }
      &__name {
        margin: 0 auto;
        width: 100%;
        padding-left: 4rem;
        &-container {
          display: flex;
          flex-direction: row;
          text-align: right;

          &__btn {
            margin: 1.7rem 1rem;
            flex: 1;
          }
        }
      }
      // a {
      //   margin: 3rem 1rem;
      // }
    }
    &__email {
      margin-top: 2rem;

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          margin: 0;
        }
        a {
          margin: 0 1rem;
          cursor: pointer;
          user-select: none;
        }
      }
    }
    &__userInfo {
      margin-top: 2rem;

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          margin: 0;
        }
        a {
          margin: 0 1rem;
          cursor: pointer;
          user-select: none;
        }
        &__form {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 500px;
          &__input {
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
            border-bottom-style: outset;
            background-color: transparent;
            outline: none;
            color: #b8b8b8;
            font-size: 1rem;
            &:focus {
              transition: border-bottom 0.2s ease-in;
              border-bottom: 2px solid $active-color;
            }
          }
          &__btn {
            color: #ff5200;
            border: none;
            font-size: 1rem;
            background-color: transparent;
            outline: none;
            &:hover {
              color: $active-color;
            }
            &:focus {
              color: $active-color;
            }
          }
        }
      }
    }
    &__birth-date {
      margin-top: 2rem;

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          margin: 0;
        }
        a {
          margin: 0 1rem;
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }
}
