@mixin fadeOut() {
	animation: fadeout 0.3s ease-in 0s 1 forwards;
	@keyframes fadeout {
		0% {
			visibility: visible;
			opacity: 1;
		}
		100% {
			visibility: hidden;
			opacity: 0;
		}
	}
}
@mixin fadeIn() {
	animation: fadein 0.3s ease-in 0s 1 forwards;
	@keyframes fadein {
		0% {
			visibility: hidden;
			opacity: 0;
    }
    100% {
			visibility: visible;
			opacity: 1;
		}
	}
}

.canvas {
	float: right;
	margin-right: 50px;
	.canvas__draw-here {
		font-size: 50px;
		margin-bottom: -65px;
		display: block;
		z-index: 1;
		position: relative;
		top: 264px;
    color: lightgray;
    user-select: none;
    cursor: crosshair;
    pointer-events:none;
    &--fadein{
      @include fadeIn();
    }
		&--fadeout {
			@include fadeOut();
		}
	}
	.canvas__title {
		// margin: 50px;
		font-size: 40px;
		color: red;
	}
}
