.canvas{
  float: right;
  .canvas__title{
    margin: 50px;
    font-size: 40px;
    color: red;
  }
<<<<<<< HEAD
}
=======
.canvas__canvas{
  border: 1px solid purple;
}
}
>>>>>>> change canvas border color
