.canvas {
	-webkit-user-drag: none;
	user-select: none;
	&__area {
		-webkit-user-drag: none;
		user-select: none;
	}
	&__title {
		font-size: 40px;
		color: red;
	}
	&--left-hand {
		float: left !important;
	}
}
