$showModelsDuration: 0.7s;
@keyframes move-right {
    0% { right: 127px;}
    100%{ right: 0;}
}
@keyframes move-right-from-right {
    0% { left: 0;}
    100%{ left: 127px;}
}
@keyframes move-left {
    0% { right: 0;}
    100%{ right: 127px;}
}
@keyframes move-left-from-right {
    0% { left: 127px;}
    100%{ left: 0;}
}
.model-wrapper{
	position: relative;
}
.drawing-model {
	position: relative;
	@include x-small-screen() {
		float: none;
		margin: auto;
		display: block;
		margin-top: 5px;
	}
	&.model_left_hand {
		float: right;
	}
}
.drawing-model__select {
	position: relative;
	width: 117px;
	right:127px;
	height: 236px;
	margin-bottom: -249px;
    padding-left: 11px;
    padding-top: 13px;
    z-index: 2;
    cursor: pointer;
	background-color: #b1b8b8;
	&--move-right{
		animation:linear;
		animation-name: move-right;
		animation-duration: $showModelsDuration;
		right: 0;
	}
	&--move-left{
		animation:linear;
		animation-name: move-left;
		animation-duration: $showModelsDuration;
	}
	&--right-float{
		float:right;
		&--move-right{
			animation:linear;
			animation-name: move-right-from-right;
			animation-duration: $showModelsDuration;
			left: 127px;
		}
		&--move-left{
			animation:linear;
			animation-name: move-left-from-right;
			animation-duration: $showModelsDuration;
			left:0;
		}
	}
	span{
		width: 100px;
		height: 100px;
		display: inline-block;
		margin-bottom: 10px;
		position: relative;
		right: 6px;
		&:hover{
			opacity: 1;
		}
	}
	&__still-life {
		background-image: url("https://i.ibb.co/s990BgW/geometrical5.png");
		background-size: 142px;
		background-position-x: -19px;
		opacity: 0.5;
		border: 2px solid white;
		&--active{
			border: 2px solid #ff5200;
			opacity: 1;
		}

	}
	&__anatomy {
		background-image: url("https://cdn.discordapp.com/attachments/535653157791989804/647829444953899059/geometrical3.png");
		background-size: 167px;
		background-position: -30px -11px;
		opacity: 0.5;
		border: 2px solid white;
		&--active{
			border: 2px solid #ff5200;
			opacity: 1;
		}
	}
}
.users-scores {
	background-color: black;
	opacity: 0.93;
	position: absolute;
	&--fadein {
		@include fadeIn();
	}
	&--fadeout {
		@include fadeOut();
	}
	&__currently-playing {
		height: 40px;
		font-size: 22px;
		padding-top: 7px;
		border-bottom: 1px solid $dark-grey;
		color: #585858;
	}
	table {
		width: 100%;
		table-layout: fixed;
	}
	.tbl-header {
		border-bottom: 1px solid $dark-grey;
		height: 40px;
		th {
			position: relative;
			bottom: 9px;
		}
		color: #585858;
	}
	.tbl-content {
		overflow-x: auto;
		margin-top: 0px;
		&__orange {
			td {
				color: $orange;
			}
		}
	}
	th {
		padding: 20px 15px;
		text-align: left;
		font-weight: 800;
		font-size: 17px;
		text-transform: uppercase;
	}
	td {
		padding: 15px;
		text-align: left;
		vertical-align: middle;
		font-weight: 700;
		font-size: 16px;
		border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	}

	body {
		background: -webkit-linear-gradient(left, #25c481, #25b7c4);
		background: linear-gradient(to right, #25c481, #25b7c4);
		font-family: 'Hind', sans-serif;
	}
	section {
		margin: 50px;
	}

	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
}
