.croqee-video-section {
  min-height: calc(var(--vh, 1vh) * 80);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(93, 94, 94, 0.05)),
      color-stop(38%, rgba(93, 94, 94, 0.05)),
      color-stop(79%, rgba(35, 35, 35, 0.58)),
      to(#000)
    );
    background-image: -o-linear-gradient(
      top,
      rgba(93, 94, 94, 0.5) 0%,
      rgba(93, 94, 94, 0.05) 38%,
      rgba(35, 35, 35, 0.58) 79%,
      #000 100%
    );
    background-image: linear-gradient(
      180deg,
      rgba(93, 94, 94, 0.5) 0%,
      rgba(93, 94, 94, 0.05) 38%,
      rgba(35, 35, 35, 0.58) 79%,
      #000 100%
    );
    z-index: -1;
  }

  &__title {
    margin: auto;
    text-align: left;
    font-size: $md-font;
    clear: both;
    z-index: -2;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    &-main {
      padding: 1em 0 0 1em;
      margin-bottom: 0;
      margin-top: 7em;
      line-height: 50px;
    }
    &-caption {
      padding: 0;
      color: white;
      padding: 1em;
      margin: 1em;
      font-size: $sm-font;
    }
    @media (max-width: 1100px) {
      font-size: $sm-font;
      text-align: center;
    }
  }
  &__video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    opacity: 0.5;
  }
}
