.croqee-video-section {
    width: 100%;
    height: 70vh;
    opacity: 0.3;
    position: relative;
    overflow: hidden;
    margin-top: 0;
    bottom: 4px;
    margin-bottom: -4px;// butchering stuff that needs to change
    &__title {
        margin: auto;
        display: block;
        position: relative;
        top: 250px;
        font-size: 26px;
        clear: both;
        z-index: 3;
        color: black;
        font-weight: 600;
        font-size: 40px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 62px;
    }
    &__video {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -100px;
        right: 0;
        @for $i from 1 through 10 {
            @media screen and (max-width: (10 - $i) * 140px) {
                width: $i * 100%;
            }
        }
    }
    //         mask-image: -webkit-gradient(linear, left top, right bottom,
    //         color-stop(0.00,  rgb(255, 0, 0)),
    //         color-stop(0.35,  rgb(255, 0, 0)),
    //         color-stop(0.50,  rgba(0,0,0,0)),
    //         color-stop(0.65,  rgba(0,0,0,0)),
    //         color-stop(1.00,  rgba(0,0,0,0)));
    // }
}
