@import "canvas";
@import "userscore";
@import "clubpage";
@import "clubthumbnail";
@import "form";
@import "navbar";
@import "timer";
@import "homebottom";
@import "loader";
@import "handside";
@import "userpendingloader";
@import "competepage";
@import "competepageusers";
@import "drawingmodel";
@import "drawingenvironment";
@import "homepage";
@import "leaderboard";
@import "account";
@import "profile";
@import "profileCityForm";
@import "userProfile";
