$button-size : 28px;

.leaderboard {
    padding-top:52px;
    max-width: 1000px;
    width: 80%;
    margin:auto;

    &__title{
        font-weight: 500;
        padding-bottom: 50px;
        font-size: 41px;
    }

    &__rank-desc{
        font-weight: 500;
        padding-top: 35px;
        padding-bottom: 50px;
        font-size: 26px;
    }

    &__left{
        float: left;
        width:49%;
        text-align: center;
        // border-right:1px solid $mid-light-grey;
        @media (max-width: 852px){
            width: 100%;
        }
    }

    &__right{
        float: right;
        width: 49%;
        text-align: center;
        vertical-align: top;
        @media (max-width: 852px){
            width: 100%;
        }
    }

    &__overall-percentage {
        margin-bottom: 60px;
        &-circle{
            width: 120px;
            height: 120px;
            margin: auto;
            background-color: $light-grey;
            border-radius: 50%;
            color:$dark-grey;
            &-text{
                position: relative;
                top: 30px;
                font-size: 40px;
            }
            position: relative;
        }
        &-desc{
            margin-top: 20px;
            font-size: 18px;
            position: relative;
        }
    }
    &__topic-percentage {
        display: inline-block;
        margin-bottom: 60px;
        margin-right: 22px;
        margin-left: 22px;
        &-circle{
            width: 120px;
            height: 120px;
            margin: auto;
            background-color: $mid-light-grey;
            border-radius: 50%;
            &-text{
                position: relative;
                top: 30px;
                font-size: 40px;
            }
        }
        &-desc{
            margin-top: 20px;
            font-size: 18px;
        }
    }
    b {
        color:$orange;
        font-weight: 400;
    }

    &__scores {
        display: flex;
        flex-direction: column;
        margin: auto;
        font-size: 22px;
        clear: both;
        &-head {
            border-bottom: 1px solid $light-grey;
            height: 40px;
            background-color: $orange;
            color: black
        }
        &-row {
            border-bottom: 1px solid $mid-grey;
            height: 50px;
            width: 100%;
            display: flex;
            transition: margin-left 0.2s linear, border-bottom .3s linear;
                &:hover {
                    margin-left: 5px;
                    cursor: pointer;
                    border-bottom: 1px solid #adadad;
                  }
            &-rank {
                margin-top: 8px;
               margin-right:20px;
               width: 20px;

            }
            &-img{
                margin-right:20px;
                margin-top: 4px;
                img{
                width:40px;
                height:40px;
            }
            }
            &-user {
                margin-top: 8px;
                
             }
             &-score {
                margin-top: 8px;
                align-self: end;
                margin-left: auto;
             }
            &--self {
                color: $orange;
                th {
                    font-weight: 500;
                }
            }
        }
        &-etc{
            background-color: $dark-grey;
            height: 50px;
            padding-top: 8px;
            border-bottom: 1px solid $mid-grey;
            font-size: 40px;
            line-height: 27px;
            user-select: none;
        }
    }
}