.security {
  text-align: left;
  padding: 1rem;
  @media (min-width: $brk-tablet) {
    float: left;
    width: 55%;
    padding: 0rem 5rem;
  }

  &__change_password {
    display: flex;
    flex-direction: column;
    &__field {
      margin: 1rem;
    }
  }
}
