@mixin profile-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@mixin profile-form-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: outset;
  background-color: transparent;
  outline: none;
  color: #b8b8b8;
  font-size: 1rem;
  flex-basis: 60%;
}
@mixin profile-form-input-focus {
  transition: border-bottom 0.2s ease-in;
  border-bottom: 2px solid $active-color;
}

.profile {
  text-align: left;
  padding: 1rem;
  @media (min-width: $brk-tablet) {
    float: left;
    width: 60%;
  }
  &__ranking {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__highlight {
      color: $orange;
    }
  }
  &__img__msg {
    margin: 1rem;
    width: auto;
    display: block;
  }

  &__img-name-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;

    &__img {
      display: flex;
      flex-direction: column;

      & > img {
        width: 125px;
        height: 125px;
        border-radius: 50%;
      }

      &-link {
        margin: 1rem 1rem 1rem;
        text-align: center;
        cursor: pointer;
        user-select: none;
      }
    }
    &__name {
      margin: 0 auto;
      width: 100%;
      padding-left: 4rem;
      > span {
        font-size: $sm-font;
        color: white;
      }
      & > h1 {
        margin: 0;
        font-weight: lighter;
      }
    }
  }

  &__userInfo {
    margin-top: 1rem;
    & > span {
      color: white;
      font-size: $sm-font;
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & > p {
        font-weight: lighter;
        font-size: $md-font;
        margin: 0;
      }
      a {
        cursor: pointer;
        user-select: none;
      }
      &__form {
        @include profile-form();
        &__input {
          @include profile-form-input();
          &:focus {
            @include profile-form-input-focus();
          }
        }
        &__btn {
          flex-basis: 20%;
          color: $orange;
          border: none;
          font-size: 1rem;
          background-color: transparent;
          outline: none;
          text-align: right;
          &:hover {
            color: $active-color;
          }
          &:focus {
            color: $active-color;
          }
        }
      }
    }
  }
  &__links {
    margin-top: 2rem;
    border-top: 1px solid $mid-grey;
    height: 100%;
    width: 100%;
    > p {
      font-size: $sm-font;
      color: white;
    }
    &__data {
      color: unset;
      text-decoration: none;
      & > span {
        width: 0;
        height: 1px;
        display: block;
        border-bottom: 1px solid $orange;
        transition: width 0.3s ease;
        position: relative;
      }
      &:hover {
        span {
          width: 100%;
        }
      }
    }
    &__icons {
      color: #b8b8b8;
      margin: 0.5rem;
      &:hover {
        color: $orange;
      }
    }
  }
}

.MuiSvgIcon-root {
  color: $light-grey;
}
