svg {
  display: block;
  margin: 50px auto;
}

#loader {
  // fill: #1a521d;
}
.timer_green{
  fill: #1a521d;
}
.timer_orange{
  fill: #d34d00;
}
.timer_red{
  fill: #a71717;
}
#roundTimer{
  width: 100px;
  height: 100px;
}