.userscore {
	list-style-type: none;
	user-select: none;
	cursor: crosshair;
	display: flex;
	flex-direction: column;
	justify-content: center;
	visibility: hidden;
	font-size: 40px;
	color: white;
	opacity: 0;
	transition: opacity 0.5s;
	z-index: 1000;
	position: relative;
	background-color: $dark-grey;
	&.userscore--show {
		visibility: visible;
		opacity: 1;
	}
	&.userscore--hide {
		visibility: visible;
		opacity: 0;
	}
	&_score {
		margin: center;
		position: absolute;
		top: 10px;
		left: 20px;
		z-index: 1001;
		color: $dark-grey;
		&-score {
			color: $orange;
		}
	}
	&__drawing {
		opacity: 0.9;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	&__model {
		opacity: 0.3;
		z-index: 200;
		margin: auto;
	}
}
