body {
    // padding-top: 75px; // background: url(../img/asset-3.png) no-repeat 100%;
    // background-size: 100%;
    background-color: $background-White;
    margin: 0;
}

a:hover,
a:focus {
    color: none;
    text-decoration: none;
}

.modelImg{
    float: left;
    position: relative;
    top:10px;
    left:20px;
}

#userScore{
    font-size: 40px;
    background: #100005;
    height: 40px;
    display: block;
    position: fixed;
    right: 139px;
    color: white;
    top: 113px;
    width: 200px;
    text-align: left;
    padding: 10px;
    padding-left: 30px;

}
#countDown{
    font-size: 40px;
    background: #0523cc;
    height: 40px;
    display: block;
    position: fixed;
    right: 430px;
    color: white;
    top: 113px;
    width: 70px;
    text-align: left;
    padding: 10px;
    padding-left: 30px;

}